[Desktop Entry]
Name=openSUSE
Comment=Default openSUSE theme

X-KDE-PluginInfo-Author=openSUSE KDE team
X-KDE-PluginInfo-Email=opensuse-kde@opensuse.org
X-KDE-PluginInfo-Name=openSUSE
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://en.opensuse.org/Portal:KDE
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

