[Desktop Entry]
Charset=
Hidden=false
Keys=rpm
Name=openSUSE Build Service
Query=http://software.opensuse.org/search?baseproject=openSUSE%3A12.1&p=1&q=\\{@}
ServiceTypes=SearchProvider
Type=Service
